[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
elasticsearch-dsl = "*"
django-elasticsearch-dsl = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
