aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.1.0
asgiref==3.7.2
attrs==23.1.0
autosemver==0.5.5
Babel==2.14.0
beautifulsoup4==4.12.2
blis==0.7.11
cachetools==5.3.2
camelot-py==0.11.0
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
configobj==5.0.8
configparser==6.0.0
cryptography==41.0.7
cymem==2.0.8
defusedxml==0.7.1
distlib==0.3.7
distro==1.8.0
Django==4.2.7
django-allauth==0.59.0
django-elasticsearch-dsl==8.0
djangorestframework==3.14.0
dulwich==0.19.16
elastic-transport==8.10.0
elasticsearch==8.11.1
elasticsearch-dsl==8.11.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile==1.1.0
etelemetry==0.3.1
filelock==3.13.1
fitz==0.0.1.dev2
fr-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_lg-3.7.0/fr_core_news_lg-3.7.0-py3-none-any.whl#sha256=c2d98eb9073ff0f3d865179448e7f1868f27b2643c0e7215acc2438cd9eae554
frozenlist==1.4.0
fsspec==2023.12.1
future==0.18.3
gdown==4.7.1
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.26.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.2
huggingface-hub==0.19.4
idna==3.6
inspire-utils==3.0.37
isodate==0.6.1
Jinja2==3.1.2
joblib==1.3.2
langcodes==3.3.0
libmagic==1.0
looseversion==1.3.0
lxml==4.9.3
MarkupSafe==2.1.3
multidict==6.0.4
murmurhash==1.0.10
mysql-connector-python==8.2.0
nameparser==0.5.8
networkx==3.2.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
numpy==1.26.2
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.28.0
opencv-python==4.8.1.78
openpyxl==3.1.2
packaging==23.2
pandas==2.1.3
pathlib==1.0.1
pdfminer==20191125
pdfminer.six==20221105
pdfplumber==0.10.3
pdftitle==0.11
Pillow==10.1.0
pipenv==2023.11.15
platformdirs==4.0.0
preshed==3.0.9
protobuf==4.21.12
prov==2.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.2
pydantic_core==2.14.5
pydot==1.4.2
PyDrive==1.3.1
PyJWT==2.8.0
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
PyMySQL==1.1.0
pyparsing==3.1.1
pypdf==3.17.3
PyPDF2==1.28.6
pypdfium2==4.25.0
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.0
python-magic==0.4.27
python-magic-bin==0.4.14
python3-openid==3.2.0
pytz==2023.3.post1
pywin32==306
pyxnat==1.6
PyYAML==6.0.1
rdflib==7.0.0
refextract==1.1.4
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
setuptools==69.0.2
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.4
srsly==2.4.8
tabula==1.0.5
tabulate==0.9.0
thinc==8.2.1
threadpoolctl==3.2.0
tokenizers==0.15.0
tqdm==4.66.1
traits==6.3.2
transformers==4.36.0
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
Unidecode==1.3.7
uritemplate==4.1.1
urllib3==1.26.12
virtualenv==20.24.7
wasabi==1.1.2
weasel==0.3.4
yarl==1.9.4
